# Module 3: Data Structures Assignments
## Lesson 3.3: Sets

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [11]:
set1 = set([i for i in range(1,11)])
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
set1 = set(range(1,11))
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [13]:
set1.add(11)
print(set1)
set1.remove(1)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [ ]:
set1 = set([i for i in range(1,6)])
print(set1)
set2 = set([i for i in range(1,11) if i%2 == 0])
print(set2)

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}

#### Union

In [16]:
## Union
union_set = set1.union(set2)
print(f"Union: {union_set}")  # {1, 2, 3, 4, 5, 6, 8, 10}

Union: {1, 2, 3, 4, 5, 6, 8, 10}

In [24]:
set1 = set(range(1, 6))
set2 = set(range(2, 11, 2))
print(f"Union: {set1 | set2}")

Union: {1, 2, 3, 4, 5, 6, 8, 10}

#### intersection

In [26]:
## intersection
intersection_set = set1.intersection(set2)
print(f"Intersection set: {intersection_set}")  # {2, 4}

Intersection set: {2, 4}

In [27]:
print(f"Intersection set: {set1 & set2 }")  # {2, 4}

Intersection set: {2, 4}

#### difference

In [18]:
## difference
diff_set1 = set1.difference(set2) #{1, 3, 5}
print(f"Difference of set1 with set2: {diff_set1} ")

diff_set2 = set2.difference(set1) #{6, 8, 10}
print(f"Difference of set2 with set1: {diff_set2} ")

Difference of set1 with set2: {1, 3, 5}
Difference of set2 with set1: {8, 10, 6}

In [28]:
print(f"Difference of set1 with set2: {set1 - set2} ")
print(f"Difference of set2 with set1: {set2 - set1} ")

Difference of set1 with set2: {1, 3, 5}
Difference of set2 with set1: {8, 10, 6}

#### symmetric_difference

In [23]:
set1 = set([i for i in range(1,6)])
print(set1)
set2 = set([i for i in range(1,11) if i%2 == 0])
print(set2)

## symmetric_difference
symm_diff = set1.symmetric_difference(set2)
print(f"Syemmetric Difference: {symm_diff}")

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
Syemmetric Difference: {1, 3, 5, 6, 8, 10}

In [29]:
print(f"Syemmetric Difference: {set1 ^ set2}")

Syemmetric Difference: {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [34]:
squares = {x**2 for x in range(1,11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [ ]:
squares = {x**2 for x in range(1, 11)}
print(f"Squares in Dictionary: {squares}")   # sets are Unordered Collection of an elements
print(f"Squares in List: {sorted(squares)}")

Squares in Dictionary: {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
Squares in List: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [44]:
set1 = set(range(1,11))
print(f"set1: {set1}")
even_set = {x for x in set1 if x % 2 == 0}
print(f"Even Set: {even_set}")

set1: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Even Set: {2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [46]:
s = {1,2,1,2,3,4,5,5,8,9,10,10,10}
set1 = set(s)
print(set1)

{1, 2, 3, 4, 5, 8, 9, 10}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [53]:
set1 = set(range(1,6))
set2 = set(range(1,4))
print(f"set1: {set1}")
print(f"set2: {set2}")

print("set2 is subset of set1? : ",set2.issubset(set1))
print("set1 is subset of set2? : ",set1.issubset(set2))

print("set1 is superset of set2? : ",set1.issuperset(set2)) # True
print("set2 is superset of set1? : ",set2.issuperset(set1)) # Flase

set1: {1, 2, 3, 4, 5}
set2: {1, 2, 3}
set2 is subset of set1? :  True
set1 is subset of set2? :  False
set1 is superset of set2? :  True
set2 is superset of set1? :  False

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [56]:
frozenset1 = frozenset(range(1,6))
print(frozenset1)
print(type(frozenset1))

frozenset1.union(set1)

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [57]:
set1 = set(range(1,6))
print(set1)
lst = list(set1)
lst.append(6)
print("List: ",lst)
set0 = set(lst)
print(set0)

{1, 2, 3, 4, 5}
List:  [1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [60]:
dict = {
    frozenset({"a"}): 1,
    frozenset("b"): 2,
    frozenset("c"): 3,
}
print(type(dict),dict)

<class 'dict'> {frozenset({'a'}): 1, frozenset({'b'}): 2, frozenset({'c'}): 3}

In [61]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [65]:
sets = set(range(1,5))
for ele in (sets):
    print(ele)

1
2
3
4

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [ ]:
s = set(range(1,6))
while s:
    s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [68]:
s = set(range(1,6))
while s:
    s.pop()
s

set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [ ]:
s1 = set(range(1,6))
s2 = set([num for num in range(1,11) if num % 2 == 0])
print(s1)
print(s2)
symm_diff = s1.symmetric_difference(s2)
print(symm_diff)
s1.symmetric_difference_update(s2)

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
{1, 3, 5, 6, 8, 10}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [71]:
set_num = set(range(1,11))
print(4 in set_num)
print(14 in set_num)

True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [73]:
s = {
    (3, 6),
    (7, 8),
    (9, 10)
}
print(s)

{(9, 10), (7, 8), (3, 6)}