# 4.20 Sets in python-21-Feb-25

# Sets
- Sets are a built-in data type in python used to store collections of unique items.
- They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements.
- Sets are useful for membership test, eliminating duplicate entries, and performing mathematical set operations like:
    - Union
    - intersection
    - diffeence
    - Symmetric difference

In [1]:
## Create a Set
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [6]:
my_set = set([1,2,3,4,5,6])
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [7]:
d_set = set([1,2,3,6,5,4,5,6])
print(d_set)

{1, 2, 3, 4, 5, 6}

## Basic Sets Operation
- Adding Elements
- Removing Elements

In [ ]:
## Adding Elements
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)
my_set.add(8)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
## Removing Elements
my_set.remove(8)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# my_set.remove(8)   KeyError: 8
# print(my_set)

In [ ]:
# Remove an element from a set if it is a member.

# Unlike set.remove(), the discard() method does not raise an exception when an element is missing from the set.

my_set.discard()
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [15]:
## Pop method - just like Dict, First In First Out
removed_ele = my_set.pop()
print(removed_ele)
print(my_set)

1
{2, 3, 4, 5, 6, 7}

In [16]:
## Clear all the elements
print(d_set)
d_set.clear()
print(d_set)

{1, 2, 3, 4, 5, 6}
set()

## Set Membershp Test

In [20]:
set0 = {1,2,3,4,5}
print("3 in set1: ",3 in set0)
print("10 in set1: ",10 in set0)

3 in set1:  True
10 in set1:  False

## Mathematical Operations

In [39]:
## Mathematical Operations
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

### Union : Combining 2 sets

In [40]:
### Union : Combining 2 sets
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Intersection : 
- Common ELements from the Both sets

In [41]:

### Intersection : Common ELements from the Both sets
intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5, 6}

### intersection_update: 
- Update a set with the intersection of itself and another.

In [42]:
# Update a set with the intersection of itself and another.
set1.intersection_update(set2)
print(set1)

{4, 5, 6}

In [ ]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

### Difference: 
- Return the difference of two or more sets as a new set.

- (i.e. all elements that are in this set but not the others.)

In [ ]:
### Difference: 
print("set1: ",set1)
print("set2: ",set2)

set1.difference(set2)   # From set1 we remove common ele

set1:  {1, 2, 3, 4, 5, 6}
set2:  {4, 5, 6, 7, 8, 9}

{1, 2, 3}

In [48]:
set2.difference(set1)  # From set2 we remove common ele

{7, 8, 9}

# difference_update: 
- Remove all elements of another set from this set.

In [50]:
# difference_update: Remove all elements of another set from this set.
set1.difference_update(set2) 
print(set1)

{1, 2, 3}

In [51]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

print("set1: ",set1)
print("set2: ",set2)

set1:  {1, 2, 3, 4, 5, 6}
set2:  {4, 5, 6, 7, 8, 9}

### Symmetric Difference:  Both unique ele from set
- Return the symmetric difference of two sets as a new set.

- (i.e. all elements that are in exactly one of the sets.)

In [53]:
print("set1: ",set1)
print("set2: ",set2)
set1.symmetric_difference(set2)

set1:  {1, 2, 3, 4, 5, 6}
set2:  {4, 5, 6, 7, 8, 9}

{1, 2, 3, 7, 8, 9}

In [54]:
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 3, 7, 8, 9}

In [55]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

print("set1: ",set1)
print("set2: ",set2)

set1:  {1, 2, 3, 4, 5, 6}
set2:  {4, 5, 6, 7, 8, 9}

## Sets Methods

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}

## issubset : Test whether every element in the set is in other.
print(set1.issubset(set2))

## issuperset() : (All the ele of set 2) Test whether every element in other is in the set.
print(set1.issuperset(set2))

False
False

In [58]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}

## issubset : Test whether every element in the set is in other.
print(set1.issubset(set2))

## issuperset() : (All the ele of set 2) Test whether every element in other is in the set.
print(set1.issuperset(set2))

False
True

In [61]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5,6}

## issubset : Test whether every element in the set is in other.
print(set1.issubset(set2))

## issuperset() : (All the ele of set 2) Test whether every element in other is in the set.
print(set1.issuperset(set2))

True
False

In [62]:
lst = [1,2,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

### Example:

In [64]:
### Counting Unique words in text:
text = "In this tutorial we are discussing about sets. In this tutorial"
print(text)
words = text.split()
print(words)

# Converting list of words to set to get unique words
union_words = set(words)
print(union_words)
print(len(words))
print(len(union_words))

In this tutorial we are discussing about sets. In this tutorial
['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets.', 'In', 'this', 'tutorial']
{'about', 'are', 'In', 'sets.', 'we', 'this', 'discussing', 'tutorial'}
11
8

# Thank You!