# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [3]:
tup1 = tuple(range(1,11))
print(tup1)
print(type(tup1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [5]:
print(f"First Element of Tuple: {tup1[0]}")
print(f"middle Element of Tuple: {tup1[len(tup1) // 2]}")
print(f"Last Element of Tuple: {tup1[-1]}")

First Element of Tuple: 1
middle Element of Tuple: 6
Last Element of Tuple: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [11]:
print(f"First Three Elements: {tup1[:3]}")
print(f"Last Three Elements: {tup1[-3:]}")
print(f"From index 2nd to 5th Elements: {tup1[2:6]}")

First Three Elements: (1, 2, 3)
Last Three Elements: (8, 9, 10)
From index 2nd to 5th Elements: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [16]:
tuple_matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print("tuple_matrix")
for row in tuple_matrix:
    print(row)
print(f"element at the second row and third column is: {tuple_matrix[1][2]}")

tuple_matrix
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
element at the second row and third column is: 6

In [13]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [17]:
t1 = (1,2,3)
t2 = (4,5,6)

result = t1 + t2 
print(result)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [21]:
duplicate_tuple = (1,2,4,1,1,4,5,4,4,4,3,5,4,7,10)
print(f"Original tuple with Duplicate Elemetns: {duplicate_tuple}")

# Counting the occurrences of an 1 and 4 elements in the given tuple
print(f"Counts of 1: {duplicate_tuple.count(1)}")
print(f"counts of 4: {duplicate_tuple.count(4)}")

# Finding index of first occurrence of an 4 element in the Tuple
print(f"Index of first occurance 4 in the Tuple: {duplicate_tuple.index(4)}")

Original tuple with Duplicate Elemetns: (1, 2, 4, 1, 1, 4, 5, 4, 4, 4, 3, 5, 4, 7, 10)
Counts of 1: 3
counts of 4: 6
Index of first occurance 4 in the Tuple: 2

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [24]:
tpl = (1,2,3,4,5)
a,b,c,d,e = tpl

print(a,b,c,d,e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [25]:
lst = [1,2,3,4,5]
tpl = tuple(lst)
print(tpl)
print(type(tpl))

(1, 2, 3, 4, 5)
<class 'tuple'>

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [27]:
tpl_of_tpls = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tpl_of_tpls)
for row in tpl_of_tpls:
    print(row)

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [30]:
tpl = (1,2,3,4,5)
lst = list(tpl)
print(type(lst),lst)
lst.append(6)
print(lst)
tpl = tuple(lst)
print(tpl, type(tpl))

<class 'list'> [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6) <class 'tuple'>

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [32]:
string = "Hello"
tpl = tuple(string)
print(tpl)
joined_string = ''.join(tpl)
print(joined_string)

('H', 'e', 'l', 'l', 'o')
Hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [33]:
tpl_dict = {
    (1,2):3,
    (4,5):6,
    (7,8):9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [36]:
nested_tuple = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
4 5 6
7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [37]:
tpl = (1,2,3,4,4,4,2,1,3,1,5,5,6,7)
print(tpl)

tpl_to_set = set(tpl)
print(tpl_to_set)

(1, 2, 3, 4, 4, 4, 2, 1, 3, 1, 5, 5, 6, 7)
{1, 2, 3, 4, 5, 6, 7}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [42]:
def min_value(sample_tuple):
    return min(sample_tuple)
def max_value(sample_tuple):
    return max(sample_tuple)
def sum_value(sample_tuple):
    return sum(sample_tuple)

sample_tuple = (1,2,3,4,5)
print(f"Minimum value of Tuple: {min_value(sample_tuple)}")
print(f"Maximum value of Tuple: {max_value(sample_tuple)}")
print(f"Sum value of Tuple: {sum_value(sample_tuple)}")

Minimum value of Tuple: 1
Maximum value of Tuple: 5
Sum value of Tuple: 15

# Thank YOU!